body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(q.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
}

.contact-form {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 800px;
    padding: 80px 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-80px/2);
    left: 190px;
}

.contact-form h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.contact-form p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.contact-form input {
    width: 100%;
    margin-bottom: 20px;
}

.contact-form input[type=text],
.contact-form input[type=date],
.contact-form input[type=phone] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}

.contact-form select {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
    color: #fff;

}

.contact-form select>option {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: block;
    outline: none;

    font-size: 18px;
    opacity: 50%;

}

.contact-form input[type=submit] {
    height: 30px;
    color: #fff;
    font-size: 15px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 15%;

}