/* google font*/
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Play&family=Rubik:wght@300&family=Sniglet&display=swap');

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --play: "Play", cursive;
    --rubik: "Rubik", cursive;
    --patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --sniglet: "Sniglet", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom,
            #dd2476, #ff512f);
    --light-gray: rgba(255, 255, 255, 0.877);
}

header a {
    font-family: var(--sniglet);
    font-size: 0.9em;
    color: whitesmoke;


}

header {
    background: #dd2476;
    background: var(--bggradient);

}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;


}


.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-menu a:hover {
    background-color: #ddd;

}

.dropdown:hover.dropdown-menu {
    display: block;

}

header.nav-item:last-child {
    padding-right: 10.5em;
}

header.nav-item {
    padding: 0.9em;
}

header.navbar-brand {
    padding-left: 8rem;
}

header.nav-link:hover {
    color: black;
}

header.row.col-md-5 {
    padding: 4.2vmin 1vmin;
}

.col-md-7.col-sm-12 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--rubik);
    color: silver;
}

header.row.col-md-5 img {
    width: 100%;
}

header.container.col-md7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

/*.col-md-7.col-sm-12 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
    color: white;
}*/

header.container .col-md-7 p {
    padding: 1vmin 5vmin;
}

.btn.btn-light.px-5.py-2 {
    border-radius: 30px;
    font-weight: bold;

}

/* section 1*/
.sec1 {
    padding: 20vmin 0;
}

.pruu {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.sec1.row.col-md-6:last-child {
    position: relative;
}

.panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background-color: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 13vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--play);
    z-index: 1;
}

.nav-item {
    padding: 30px;
}

.image {
    width: 100px;

}

.nav-link:hover {
    color: yellow;
}

.navbar-brand:hover {
    color: salmon;
}

.pt-4 {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

/* section2*/
.cover {
    width: 100%;
    height: 55vmin;
    background: url('../images/0922organdonation.jpg');
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;

}

.content.text-center {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.content.text-center>h1 {
    font-family: var(--patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.content.text-center>p {
    font-family: var(--rubik);
    font-size: 2vmin;
    color: #e5e5e5;

}

.rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
    margin-top: -15vmin;
}

.rect>h1 {
    font-size: 5rem;
    color: tomato;
    font-family: var(--play);

}

.rect>p {
    font-family: var(--rubik);
}

.purchase>h1 {
    padding-top: 15vmin;
    padding-bottom: 00.1em;
    font-family: var(--rubik);
}

.purchase>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.col-sm-4>.card.text-center {
    width: 25rem;
    margin: 6vmin;

}

.card-title {
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.pricing {
    background: rgba(208, 241, 241, 0.199);
    border-top-left-radius: 170px;
    border-top-right-radius: 170px;
}

.pricing>h1 {
    font-size: 10vmin;
    padding: 1em 0.5em;
}

/*section 3*/
.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);

}

.col-md-12>h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
    font-family: var(--patua);
}

.col-md-12>p {
    padding: 0.4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;

}

.desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;


}

.desktop>h3 {
    font-size: 4vmin;

}

.desktop>p {
    font-size: 2vmin;
}

/*section4*/

.sec-4>.container>h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
    font-family: var(--sniglet);

}

.sec-4>.team {
    padding: 10vmin 4vmin;
}

.sec-4>.card {
    width: 22rem;
    margin-top: 10vmin;

}




.text-sec.text-decoration-none {
    font-size: 1.5em;
}

.sec-4>.card-text {
    padding: 0.5em;
}

.img-fluid.border-radius  {
    border-radius: 100px;
    width: 60%;
    height: 20%;
}

/* rounded-circle w-50 p-4*/
/*footer*/
footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;

}

footer p>span {
    color: salmon;

}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: seashell !important;

}



.input-group-text {
    background: var(--bggradient);
    border: none;
}

.footer.column>i {
    color: #dd2476;

}

.footer.column>i {
    padding: 0.5em;
}